<html>
    <head>Mixnet Menu</head>
    <body>
        {% block nav %}
        <ul id="nav">
            <li>{% block nav-zkp %}<a href="/mixnet/zkp/test">Prueba de cero conocimiento (ZKP) sin parámetros</a>{% endblock %}</li>
            <li>{% block nav-zkpParam %}<a href="/mixnet/cargarpk">Prueba de cero conocimiento (ZKP) con parámetros</a>{% endblock %}</li>
            <li>{% block nav-asi %}<a href="prueba/simetrica">Pruebas asimétricas</a>{% endblock %}</li>
        </ul>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>
</html>